<!-- <h1>STAR WARS BILGI SAYFASINA HGELDINIZ</h1>

<form action="/sonuc" method="GET">
    <input type="text" placeholder="StarWars Karakteri Giriş Yapınız" name="sorgu">
    <button type="submit">Enter</button>
</form> -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<form runat="server">
  <input type='file' id="imgInp" />
  <img id="blah" src="#" alt="your image" />
</form>


