<h1>STAR WARS BILGI SAYFASINA HGELDINIZ</h1>

<form action="/sonuc" method="GET">
    <input type="text" placeholder="StarWars Karakteri Giriş Yapınız" name="sorgu">
    <button type="submit">Enter</button>
</form>